h1#site-title {
    font-size: 72px;
    font-weight: 700;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    color: brown;
}

li {
    display: inline;
    margin-right: 20px;
}